.container{
    height: 100vh;
    background-color: rgb(208, 240, 229);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
    align-items: center;
    

}

form{
    width: 400px;

}

input{
    width: 400px;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;

}

.card{
    margin-top: 20px;
    background-color: rgb(144, 243, 137);
    display: flex;
    justify-content: flex-start;
   padding: 20px 40px;
    flex-direction: column;
    border-radius: 20px;
    
    
}


.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}